:root {
    --primary-text-color: #000000;
    --accent-text-color: #C93E33;
    --praimary-grey-color: #B3B3B3;
    --primary-white-color: #fff;

}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea,address {font-family: inherit;}

input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

a {
    color: var(--primary-text-color);
}

address {font-style: normal;}

body {
    color: var(--primary-text-color);
    width: 1440px;
    background: #F2F2F2;
    font-family: 'Fira Sans', sans-serif;
}

main {
    width: 1110px;
    background: var(--primary-white-color);
}

/* Main Menu */

nav li {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
}

/* Contacts */

.contacts-phone a {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    background: url('../img/header/phone 1.svg') left no-repeat;
    padding: 0px 0px 0px 5px;
}

.contacts-address a {
    color: var(--accent-text-color);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
    background: url('../img/header/Combined Shape.svg')left no-repeat;
    padding: 0px 0px 0px 5px;
}

.contacts-mail a {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.008em;
    color: #333333;
    background: url('../img/header/mail.svg') left no-repeat;
    padding: 0px 0px 0px 5px;
}

/* Logo and Search */

.company-description {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.009em;
}

.catalog-btn {
    width: 145px;
    height: 42px;
    left: 377px;
    top: 77px;
    background: var(--accent-text-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;
    color: var(--primary-white-color);
}

.catalog-btn img {
    margin-right: 15px;
}

.search-area {
    width: 546px;
    height: 42px;
    left: 542px;
    top: 77px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;


}

.search-area::placeholder {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;

    color: var(--praimary-grey-color);
}

.header-item {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
}

/* Breadcrumbs */

.breadcrumbs-list a {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
    color: var(--praimary-grey-color);
}

.breadcrumbs-list .current {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
    color: var(--primary-text-color);
}

/* Products */
.products-cards .card {
    border: 1px solid var(--praimary-grey-color);
    width: 280px;
    text-align: center;
}

/* Order Form */

.form-input {
    border-bottom: 1px solid var(--praimary-grey-color);
}

.form-input::placeholder {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;

    color: var(--praimary-grey-color);
}

.small.grey{
    color: var(--praimary-grey-color);
}

.small.grey .bold {
    color: var(--praimary-grey-color);
    font-weight: 500;
}


/* Footer */

.footer {
    background: #222628;
    color: var(--primary-white-color);
}

footer ul li a, p a {
    color: var(--primary-white-color);
}

footer .phone {
    font-weight: 700;
}

footer .mail {
    border-bottom: 1px dashed;
}

.social .link {
    color: var(--primary-white-color);

}

/* Flex */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.header {

}

.main-menu {
    padding: 14px 0;
}

.container {
    max-width: 1110px;
    margin: 0px auto;
}

.main-menu-row, .logo-search-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-search-column {
    border: 1px solid purple;

}

.logo-search-desription {
    margin-right: -15px;
}

.logo-search-favorites,
.logo-search-busket {
    text-align: center;
}



.main-menu-menu {


}

.main-menu-contacts {

}

nav a, .main-menu-contacts a {
    padding: 10px 17px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

nav ul, .site-contacts, .logo-search-row {
    display: flex;
    justify-content: space-between;
}

.footer__row {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.header-list .favorites {
    background: url('../img/header/star.svg') left no-repeat;

}

.header-list .basket {
    background: url('../img/header/shopping.svg') left no-repeat;

}

.logo-search-desription {
    width: 112px;
}



