:root {
    --primary-text-color: #000000;
    --accent-text-color: #C93E33;
    --praimary-grey-color: #B3B3B3;
    --primary-white-color: #fff;

}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*::before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

a {
    color: var(--primary-text-color);
}

body {
    color: var(--primary-text-color);
    width: 1440px;
    background: #F2F2F2;
    font-family: 'Fira Sans', sans-serif;
}

main {
    width: 1110px;
    background: var(--primary-white-color);
}

/* Main Menu */

nav li {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
}

/* Contacts */

.contacts-phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
}

.contacts-address a {
    color: var(--accent-text-color);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
}

.contacts-mail a {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.008em;
    color: #333333;
}

/* Logo and Search */

.company-description {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.009em;
}

.catalog-btn {
    width: 145px;
    height: 42px;
    left: 377px;
    top: 77px;
    background: var(--accent-text-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;
    color: var(--primary-white-color);
}

.search-area {
    width: 546px;
    height: 42px;
    left: 542px;
    top: 77px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;


}

.search-area::placeholder {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;

    color: var(--praimary-grey-color);
}

.header-item {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
}

/* Breadcrumbs */

.breadcrumbs-list a {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
    color: var(--praimary-grey-color);
}

.breadcrumbs-list .current {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.009em;
    color: var(--primary-text-color);
}

/* Product */

.action-btn {
    width: 118px;
    height: 30px;
    left: 195px;
    top: 227px;
    background: var(--accent-text-color);

    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.009em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.articul {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;
    color: var(--praimary-grey-color);
}

.product-list .previous {
    opacity: 0.5;
    transform: rotate(180deg);
}

.product-list .current {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid var(--accent-text-color);
}

.product-list .next {
    width: 14px;
    height: 14px;
}

.section-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
}

.gost {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.009em;
    color:var(--accent-text-color);

    width: 98px;
    height: 22px;
    background: #f9eceb;
    border-radius: 2px;



}

.price-title {
    font-size: 12px;
    line-height: 14px;
    color: var(--praimary-grey-color);
}

.price .current {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
    color: var(--accent-text-color);
}

.price .previous {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    text-decoration-line: line-through;
    color: var(--praimary-grey-color);
}

.product-counter .item {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;
    color: var(--primary-text-color);

    width: 108px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
}

.busket-btn {
    width: 240px;
    height: 50px;
    background: var(--accent-text-color);
    border-radius: 4px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.009em;
    color: var(--primary-white-color);
}

.product-info .description {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.009em;
}

.product-info .more {
    color: var(--accent-text-color);
}

/* Product Description */

.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
}

.product-description .item {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;
}

.product-description .left, .points {
    color: var(--praimary-grey-color);
}

.small {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.009em;
    color: var(--accent-text-color);
}

/* Similar Products */

.product-list .number {
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.009em;
    color: var(--praimary-grey-color);
}

.product-list .number .similar-current {
    color: var(--primary-text-color);
}

.gost-small {
    width: 83px;
    height: 20px;
    background: #f9eceb;

    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.009em;
    color: var(--accent-text-color);
}

.similar-products .description {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.009em;
}

.similar-products .price {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;
}

/* Order Form */

.form-input {
    border-bottom: 1px solid var(--praimary-grey-color);
}

.form-input::placeholder {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.009em;

    color: var(--praimary-grey-color);
}

.small.grey{
    color: var(--praimary-grey-color);
}

.small.grey .bold {
    color: var(--praimary-grey-color);
    font-weight: 500;
}


/* Footer */

footer {
    background: #1a1d24;
}

.social .link {
    color: red;
}
